<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h3 class=" card-title"><a href="/" title="mesin kasir murah">MESIN KASIR HYBRID</a></h3>
           <p>
Mesin kasir murah persembahan by hewllet packard tablet windows dengan layar 10inc menjadi lebih baik dalam digunakan menunjang usaha kamu , dengan dukungan printer kasir semakin memudahkan dalam aktivitas pembukuan dan transaksi secara cepat dengan metode cetak struk kasir maupun invoice print letter sesuai kebutuhan.
            </p>
            <div class="embed-responsive embed-responsive-21by9">
              <iframe title="mesin kasir murah" width="560" height="315" src="https://www.youtube.com/embed/cRKPNLRBTFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
<p>Dengan desain elegan stylish modern semakin mewah untuk digunakan dalam tatanan mesin kasir point of sale, free instalasi dan setting serta free aplikasi siap digunakan secara langsung pada usaha mu.</p>
<a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" href="https://mesinkasir.github.io/e-catalog/Mesin%20kasir%20tablet%20pos%20hybrid.pdf">Download Now</a>
</div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h3 class=" card-title"><a href="/" title="mesin kasir portable">PORTABLE POS</a></h3>
           <p>
Solusi mesin kasir portable modern dengan touchscreen metode semakin ringkas dengan balutan printer kasir mini dalam digunakan menunjang usaha lebih cepat dan mewah pada display tampilan nya ini  lah mesin kasir portable system all in one terbaik dan simple untuk digunakan menunjang usaha kecil mu. 
            </p>
            <img alt="mesin kasir portable terbaru" class="img-fluid card" src="assets/img/portable.jpg" />
            <p>Ini adalah mesin kasir terbaru dengan portable system yang sudah lengkap dengan printer kasir plus hadirnya aplikasi yang bisa kamu pilih sesuai dengan kebutuhan mu semakin memudahkan dalam setiap pencatatan pembukuan dan pekerjaan hingga mempercepat transaksi kasir via mesin kasir portable ini.</p>      
          </div>
</div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h3 class=" card-title"><a href="/" title="mesin kasir touchscreen">TOUCHSCREEN POS</a></h3>
           <p>
Mesin kasir all in one touchscreen persembahan dari ASUS technology semakin fashionable dan keren untuk digunakan dalam menunjang usaha mu, slim desain semakin ringkas dalam penataan mesin kasir point of sale dan multi port memudahkan nya berinteraksi dengan berbagai hardware kasir penunjang dalam perlengkapan kebutuhan . 
            </p>
            <div class="embed-responsive embed-responsive-21by9">
              <iframe title="mesin kasir touchscreen" width="1349" height="759" src="https://www.youtube.com/embed/NLxDbnyQ4r4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>Sensitif touchscreen nya semakin mempercepat pekerjaan kasir dalam bertansaksi secara cepat dengan touchscreen metode digunakan, modern desain ini adalah prioritas mesin kasir terbaik untuk digunakan.</p>      
            <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" href="https://mesinkasir.github.io/e-catalog/TOUCHSCREEN%20POS.pdf">Download Now</a>
          </div>
</div>
<div class=" col-md-12">
  <div class=" card">
    <div class=" card-header mb-5">
      <h3 class=" card-title"><a href="/" title="SENSOR ALARM SECURITY">SENSOR ALARM</a></h3>
       <p>
Ketika camera CCTV hanya mampu merekam tindak kriminal pencurian tejadi maka alat ini dapat langsung menangkap tangan jahil pencuri secara langsung, alarm ini bekerja sangat efektif digunakan dengan sesnitif system maka tidak akan ada pencuri yang lolos dari alarm anti maling ini. 
        </p>
        <div class="embed-responsive embed-responsive-21by9">
          <iframe title="alarm security toko baju butik supermarket" width="1349" height="759" src="https://www.youtube.com/embed/y9HEYogn-SM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>System plug and play dan tanpa penggunaan software memudahkan mu dalam setiap aktivitas keamanan aset produk produk mu, sangat mudah tinggal pasang maka alarm ini akan bekerja dengan sensitif system.</p>      
        <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" href="https://mesinkasir.github.io/e-catalog/alarm%20security.pdf">Download Now</a>
      </div>
</div>