<div class=" content">
  <div class="masthead-followup row m-0">
    <div class="col-12 col-md-12 card card-chart p-3 md-5">
<h3><a href="/" title="aplikasi kasir toko , mesin kasir toko">RETAIL SHOP</a></h3>
<p>Aplikasi kasir, aplikasi toko,mesin kasir untuk kebutuhan usaha toko shop store minimarket supermarket, baby shop , pet shop , toko kelontong,toko olah raga, alat ATK , Apotik dan berbagai kebutuhan penjualan produk dan jasa.</p>
<p>Pilih list produk dibawah ini sesuai dengan kebutuhan mu.</p>
        </div>
        <div class="col-12 col-md-9 card p-3 md-5">
          <img alt="software mesin kasir lengkap" class="img-fluid card" src="https://1.bp.blogspot.com/-H42dYAX8K7o/XzpTSWl9kZI/AAAAAAAALG0/q201upeuQq00VNG_M2gDIRPVswz26Sg7wCLcBGAsYHQ/s910/aplikasi%2Btoko%2Bonline%2Bweb%2Bapp.jpg" />
          <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/TGjTbgIe3LI">Watch Video</a>
        </div>
         <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
            <p>POS-X Web Apps</p><hr/>
            <p>Mobile POS modern terbaik dan lengkap untuk digunakan dengan menggunakan pos-x web apps, online technology memudahkan akses via android iphone windows dan berbagai OS lain nya .pos-x web app dilengkapi dengan fitur lengkap user account, customer, supplier , member card, grup produk, produk based dengan gambar foto produk dan support dengan barcode system , service jasa , transaksi pembelian, in out kas ./ cash flow , penjualan kasir dengan mode touchscreen gambar dan support barcode dalam pos penjualan , pending transaksi kasir , laporan stok, laporan detail penjualan, laporan omset income dan berbagai laporan lain nya siap untuk diakses.</p>
            <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/POS-X%20web%20apps.pdf">Download Now</a>
          </div> 
          <div class="col-12 col-md-9 card p-3 md-5">
            <img alt="software mesin kasir lengkap" class="img-fluid card" src="https://1.bp.blogspot.com/--t9O8VxLs5M/XzpTRj6GEEI/AAAAAAAALGk/PEqajmFQqQ4B8y7oZXrl22ZWdCSXqLoEACLcBGAsYHQ/s675/aplikasi%2Bkasir%2Btoko%2Bpenjualan%2Bonline%2Bterbaru%2Bkeren%2Bwp.jpg" />
            <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/RL5C5zPqCWU">Watch Video</a>
          </div>
           <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
              <p>Dexopos Shop Apps</p><hr/>
              <p>Simple modern untuk shop toko modern dengan kebutuhan kemudahan dalam penggunaan dan lengkap desain modern nya include penjualan bergambar semakin memudahkan dalam kebutuhan transaksi kasir penjualan hingga cek omset. user account , staff petugas kasir pramuniaga , kategori grup produk , produk dengan fitur upload gambar untuk display penjualan kasir, POS point of sale penjualan kasir dengan fitur gambar foto produk yang keren dan modern , pembayaran pelanggan dengan multi payment, dan print kasir pos penjualan, laporan penjualan income profit detail berdasarkan periode , harian , mingguan , bulanan dan customise</p>
              <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/dexopos%20shop.pdf">Download Now</a>
            </div> 
            <div class="col-12 col-md-9 card p-3 md-5">
              <img alt="software mesin kasir lengkap" class="img-fluid card" src="https://1.bp.blogspot.com/-kG2JnPxeWuY/X0ZarR4Ja2I/AAAAAAAALVQ/v_rPlhPkVuQxcG5kBIPx6Ge7fd1VQHW-QCLcBGAsYHQ/s1400/aplikasi%2Bkasir%2Btoko%2Bpenjualan%2Bretail%2Bgorsir%2Bplus%2Bwebsite%2B%25281%2529.jpg" />
              <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://www.youtube.com/playlist?list=PLQDm6k9_HvYNKAtii4V59F27419PTpTbd">Watch Video</a>
            </div>
             <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                <p>Lava Laravel Apps</p><hr/>
                <p>Aplikasi kasir online penjualan toko terbaru dengan desain modern include fitur lengkap dan dapat digunakan melakukan penjualan gorsir wholesale maupun retail eceran secara langsung.user account, supplier , kategori grouping produk , produk dengan barcode system dengan harga eceran retail / grosir , pembelian , transaksi penjualan kasir dengan fitur harga retail dan grosir pada satu display pos kasir penjualan, retur pembelian , laporan laporan detail, stok produk , harga produk beli ,harga jual produk retail grosir, penerimaan barang dengan status nya, laporan pesanan pembelian , laporan pendapatan hari ini , laporan pendapatan per periode, dan lain lain.</p>
                <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/lavaapp.pdf">Download Now</a>
              </div> 
              <div class="col-12 col-md-9 card p-3 md-5">
                <img alt="software mesin kasir lengkap" class="img-fluid card" src="https://1.bp.blogspot.com/-PHloQ16bX7w/XzpTTIH13kI/AAAAAAAALHE/eRBYNXzb-IEliszosWJYGzR7ymOjJdeRQCLcBGAsYHQ/s510/dexoposretailapps.jpg" />
                <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://www.youtube.com/playlist?list=PLQDm6k9_HvYOh0fQlExtkW3feLx5jNhxJ">Watch Video</a>
              </div>
               <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                  <p>DX-Reatil Apps</p><hr/>
                  <p>Aplikasi kasir penjualan dengan pembagian divisi admin stok untuk databased dan inventori , kasir penjualan apps, dan admin tersedia secara langsung dalam satu aplikasi dx-retail version ini semakin memudahkan dalam aktivitas pekerjaan.  user account untuk regristasi divisi kasir, dan gudang admin database, supplier , product support dengan kode barcode , stok awal , pembelian , penjualan kasir point of sale support barcode system , stok opname out stok , laporan pembelian , laporan penjualan, laporan inventori stok history , laporan produk detail , out lose stok report, dan grafik grafik kinerja toko dan usaha.</p>
                  <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/DX-Retail.pdf">Download Now</a>
                </div> 
                <div class="col-12 col-md-9 card p-3 md-5">
                  <img alt="multi cabang aplikasi online" class="img-fluid card" src="assets/img/multicabang.png" />
                  <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/gxZkDnfH-Mk">Watch Video</a>
                </div>
                  <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                    <p>MULTI POS</p><hr/>
                    <p>Aplikasi kasir software program kasir dengan online metode yang memudahkan cek pembukuan all cabang shop store toko kamu dalam satu databased terpusat pada admin , dengan split databased memudahkan masing masing cabang untuk memasukan databased sesuai kondisi real dan apapun transaksi yang terjadi akan otomatis ditarik masuk ke pusat sebagai server , dan support digunakan akses via smartphone android iphone hingga mesin kasir windows mu.</p>
                    <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/MULTIPOS%20OUTLET.pdf">Download Now</a>
                  </div>
                  <div class="col-12 col-md-9 card p-3 md-5">
                    <img alt="toko online shop aplikasi kasir toko mesin kasir online" class="img-fluid card" src="assets/img/online shop aplikasi kasir toko.png" />
                    <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/StAgNGvetAs">Watch Video</a>
                  </div>
                   <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                      <p>INTEGRATED POS ONLINE</p><hr/>
                      <p>Aplikasi kasir software program kasir dan toko terintegrasi dengan toko online shop website memudahkan mu dalam setiap kebutuhan bertransaksi secara cepat, dengan onlins hsop toko online memudahkan pelanggan dalam melakukan order via online dan dengan aplikasi kasir via mesin kasir memudahkan mu bertransaksi secara langsung dengan pelanggan yang hadir di toko mu, inilah era modern web based technology.</p>
                      <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/Integrated%20pos.pdf">Download Now</a>
                    </div> 
        <div class="col-12 col-md-9 card p-3 md-5">
          <img alt="software mesin kasir lengkap" class="img-fluid card" src="assets/img/5.penjualan.png" />
          <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/d9zytPkzrpw">Watch Video</a>
        </div>
         <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
            <p>CHROMPOS</p><hr/>
            <p>Aplikasi kasir software program kasir dan toko terlengkap dengan kompleks system sangat memudahkan dalam berbagai kebutuhan ,offline mode tanpa biaya bulanan memudahkan dalam kebutuhan bertransaksi secara stabil tanpa perlu koneksi internet dalam operasionalnya, inilah solusi terbaik untuk digunakan menunjang usaha toko mu, memudahkan dalam pembagian divisi stok , admin , penjualan kasir , hingga hadirnya price chekcer system.</p>
            <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/CHROMPOS%20retail.pdf">Download Now</a>
          </div> 
          <div class="col-12 col-md-9 card p-3 md-5">
            <img alt="aplikasi mesin kasir online" class="img-fluid card" src="assets/img/software kasir,program kasir,toko minimarket dan apotik expired date (9).jpg" />
            <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/OmC_2bswSmA">Watch Video</a>
          </div>
            <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
              <p>AXCORAPOS</p><hr/>
              <p>Aplikasi kasir terbaik dengan online mode via clouds based maupun via offline based untuk kebutuhan single standalone mesin kasir,dilengkapi dengan expired date produk dan fitur lengkap lain nya memudahkan dalam proses transaksi hingga pembukuan,fitur master based , produk dengan barcode dan expire date produk , inventori stok management, pembelian ,penjualan pos kasir , laporan laporan detail .</p>
              <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/AXCORAPOS.pdf">Download Now</a>
            </div>
           
                <div class="col-12 col-md-9 card p-3 md-5">
                  <img alt="aplikasi mesin kasir online" class="img-fluid card" src="assets/img/menuprogramkasironline.png" />
                  <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/WkhKTPQk0-o">Watch Video</a>
                </div>
                 <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                    <p>BOOSTERPOS</p><hr/>
                    <p>Aplikasi kasir software program kasir dan toko dengan pencatatan credit cicilan pelanggan maupun piutang memudahkan mu dengan kemampuan nya dalam digunakan via online based clouds maupun offline based dalam setiap kebutuhan mu, fitur inventori stok management, master based , penjualan dengan mode cash tunai , credit cicilan mauupun piutang memudahkan dalam pencatatan credit pelanggan.</p>
                    <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/Boosterpos%20Retail%20Shop.pdf">Download Now</a>
                  </div> 
                  <div class="col-12 col-md-9 card p-3 md-5">
                    <img alt="ipos" class="img-fluid card" src="https://1.bp.blogspot.com/-SAlwY3BG5L4/XzpRrkzuQXI/AAAAAAAALGc/wEDCCtG_6KskDbxH4qvQpeeXlVoNPoduQCLcBGAsYHQ/s600/aplikasi%2Btoko%2Bmesin%2Bkasir%2Bonline%2Blaravel%2Bpoint%2Bof%2Bsale%2Bcashier%2Bapps%2B%25283%2529.jpg" />
                    <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/hlGd7yk4nko">Watch Video</a>
                  </div>
                    <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                      <p>LaraPos Apps</p><hr/>
                      <p>Persembahan dari laravel php artisan dengan simple system dan support untuk penjualan eceran dan grosir dengan perbedaan otomatis harga ecer dan grosir pada penjualan , semakin memudahkan transaksi. penjualan grosir dan eceran include website toko dengan nama toko anda, dengan Fitur : user account , unit satuan produk , product data dengan harga khusus retail dan grosir, point of sale penjualan kasir dengan fitur penjualan via panel grosir atau retail sesuai kebutuhan bertransaksi , price list prouct report untuk cek harga grosir maupun eceran , list penjualan kasir , profit income report berdasarkan periode sesuai kebutuhan anda, backup restore database , cek status history login web app,log out.</p>
                      <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/larapos.pdf">Download Now</a>
                    </div>
                    <div class="col-12 col-md-9 card p-3 md-5">
                      <img alt="ipos" class="img-fluid card" src="https://1.bp.blogspot.com/-iF8S0hItPDI/XzpUQAYb59I/AAAAAAAALH0/oMCiggd5YroPsqtU3poR1n9ds8Efj4mNgCLcBGAsYHQ/s512/mesin%2Bkasir%2Bonline%2Bnew%2Bvpos%2Bweb%2Bapp.jpg" />
                      <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/uZBBgEHw12M">Watch Video</a>
                    </div>
                      <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                        <p>Vpos Apps</p><hr/>
                        <p>Semakin memudahkan segala pekerjaan dengan vpos web apps, basis online memudahkan dalam akses via semua perangkat iphone android hingga mesin kasir windows , mudah digunakan untuk kebutuhan usaha yang simple. fitur : user account , grup produk , unit satuan produk, inventori stok management transaksi in out stok ,POS point of sale penjualan kasir dengan barcode system, backoffice admin untuk cek income pendapatan dan laporan laporan detail, dab fitur lain nya .</p>
                        <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/vpos%20web%20apps.pdf">Download Now</a>
                      </div>
                      <div class="col-12 col-md-9 card p-3 md-5">
                        <img alt="ipos" class="img-fluid card" src="https://1.bp.blogspot.com/-zDucifmTRpI/XzpTUBhdSuI/AAAAAAAALHU/1F4eXLjPDBk6UbVf0P3gIUQYw3sgn_VTQCLcBGAsYHQ/s683/point%2Bof%2Bsale%2Bweb%2Bapp%2Bsolutions.jpg" />
                        <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/kh80c_NSEEM">Watch Video</a>
                      </div>
                        <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                          <p>Z-POS Apps</p><hr/>
                          <p>Desktop modern software program toko dan aplikasi kasir toko yang bisa anda gunakan via desktop apps support barcode maupun via mobile pos apps untuk cek dan input data secara langsung via smartphone. Fitur : user, supplier, kategori produk grouping , satuan produk unit,produk dengan barcode system, penjualan kasir point of sale support barcode , cek keseluruhan laporan laporan detail stok user dan laporan income pendapatan minimarket per periode harian,mingguan bulanan dan customise, hingga cek laporan income tahunan tersedia pada aplikasi minimarket ini.</p>
                          <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/Z-pos.pdf">Download Now</a>
                        </div>
                        <div class="col-12 col-md-9 card p-3 md-5">
                          <img alt="ipos" class="img-fluid card" src="https://1.bp.blogspot.com/-Q0v4Athaeik/XzpTTf69c9I/AAAAAAAALHM/eAr2aKCuIj4NKTe-gFzoNGtXwExLE_kigCLcBGAsYHQ/s512/larapos%2Bonline%2Bcashier%2Bapps.jpg" />
                          <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/kbngRvg3xeE">Watch Video</a>
                        </div>
                          <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                            <p>LaravelPos Apps</p><hr/>
                            <p>All in one website modern laravel dengan aplikasi kasir penjualan pos point of sale plus penjualan produk dengan gambar semakin memudahkan dalam online system modern mu, website + aplikasi toko dalam laravel pos.Menu produk dengan support gambar foto produk untuk ditampilkan pada penjualan kasir pos point of sale, mendukung inventori management untuk kontrol stok produk produk anda, laporan inventori stok dan melakukan transaksi in out stok secara langsung, pos point of sale penjualan kasir dengan gambar foto produk , print struk kasir penjualan, laporan list penjualan detail dan kemampuan untuk mencetak struk langsung,plus bonus website gratis dalam aplikasi ini menjadi satu.</p>
                            <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/LARAVEL%20POS%20WEB%20APPS.pdf">Download Now</a>
                          </div>
                          <div class="col-12 col-md-9 card p-3 md-5">
                            <img alt="ipos" class="img-fluid card" src="https://1.bp.blogspot.com/-DvbzV0d7m9w/X0ZarV6QNQI/AAAAAAAALVU/_EHjY7jByCoYqF2WHcXi5iY3m1rG4QHnQCLcBGAsYHQ/s1600/aplikasi%2Bkasir%2Bonline%2Bdan%2Bwebsite%2Blaras%2B%25282%2529.jpg" />
                            <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://www.youtube.com/watch?v=9ksB0AMXvIo&t=180s">Watch Video</a>
                          </div>
                            <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                              <p>Laras Apps</p><hr/>
                              <p>Simple aplikasi toko khusus untuk kamu yang ingin website keren dan cantik dengan aplikasi kasir toko penjualan kasir yang simple dan mudah digunakan ,maka laras app adalah pilihan terbaik. Fitur : user account dan password, kategori gruping produk , produk support dengan gambar foto , penjualan kasir dengan mesin kasir yang digunakan , list laporan detail penjualan, shortcut ke website anda , bonus website toko dengan domain nama toko anda, all in one hanya dalam laras apps ini.</p>
                              <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/Laras%20Apps.pdf">Download Now</a>
                            </div>
                  <div class="col-12 col-md-9 card p-3 md-5">
                    <img alt="ipos" class="img-fluid card" src="assets/img/ipos.png" />
                    <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/XArhahwcspY?list=PLQDm6k9_HvYPbuAl0m6Fn_DUdMe-sr3EM">Watch Video</a>
                  </div>
                    <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                      <p>IPOS</p><hr/>
                      <p>IPOS invoice of pos point of sale memudahkan dalam setiap transaksi mu support dengan penggunaan kasa untuk membagi divisi kasa,berkemampuan digunakan secara online via clouds web based dan via offline untuk desktop mode , dengan kemudahan pencatatan credit cicilan pelanggan ini lah solusi invoice pos technology untuk kamu gunakan.</p>
                      <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/Invoice%20point%20of%20sale%20app.pdf">Download Now</a>
                    </div>
                    <div class="col-12 col-md-9 card p-3 md-5">
                      <img alt="aplikasi kasir penjualan" class="img-fluid card" src="assets/img/8. order pos.png" />
                      <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://www.youtube.com/watch?v=N-U8nYwAdUM">Watch Video</a>
                    </div>
                     <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                        <p>LIGHT POS</p><hr/>
                        <p>Aplikasi kasir yang sangat simple dan berfokus pada penjualan kasir memudahkan mu dalam melakukan transaksi penjualan dengan cepat yang dilengkapi dengan wallpaper produk semakin keren untuk menunjang bisnis usaha mu, selain itu hadirnya laporan laporan omset profit detail semakin memanjakan dalam cek omset profit usaha mu, inilah solusi aplikasi keren jaman now dengan simple system untuk mu..</p>
                        <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/LIGHT%20POS%20NEW%20FASHIONABLE%20POINT%20OF%20SALE.pdf">Download Now</a>
                      </div> 

                          <div class="col-12 col-md-9 card p-3 md-5">
                            <img alt="aplikasi kasir mudah digunakan dan online" class="img-fluid card" src="assets/img/hockeypos.png" />
                            <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://www.youtube.com/watch?v=tdxyKKKKCrg">Watch Video</a>
                          </div>
                           <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                              <p>HOCKEYPOS</p><hr/>
                              <p>Aplikasi kasir simple system dan lengkap mudah digunakan dengan kemammpuan untuk offline mode guna single mesin kasir maupun untuk online mode dengan pembagian akses via smartphone android iphone hingga mesin kasir windows semakin mobile dalam setiap aktivitas transaksi , inilah era kebebasan aplikasi pos point of sale via hockey pos.</p>
                              <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/HOCKEY%20POS.pdf">Download Now</a>
                            </div> 
                            <div class="col-12 col-md-9 card p-3 md-5">
                              <img alt="simple aplikasi kasir online" class="img-fluid card" src="assets/img/simplepos.png" />
                              <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://youtu.be/rNaH_gmcDDo">Watch Video</a>
                            </div>
                              <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                                <p>SIMPLE POS</p><hr/>
                                <p>Aplikasi kasir software program kasir dan toko simple system dengan kemampuan untuk mencetak struk kasir maupun invoice faktur penjualan secara langsung memudahkan dalam setiap aktivitas penjualan kasir baik untuk cetak struk kasir dan kebutuhan invoice, dilengkapi dengan master base, produk , user, password, supplier ,pembelian , penjualan kasir ,dan laporan laporan details.</p>
                                <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://mesinkasir.github.io/e-catalog/hockeysimple%20pos.pdf">Download Now</a>
                              </div>
                          <div class="col-12 col-md-9 card p-3 md-5">
                            <img alt="software mesin kasir gratis download" class="img-fluid card" src="assets/img/aplikasi kasir gratis.png" />
                            <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" target="blank" href="https://www.youtube.com/watch?v=wtvkaeTDFtI">Watch Video</a>
                          </div>
                            <div class="col-12 col-md-3 card p-3 md-5 bg-primary">
                              <p>ACCESS POS</p><hr/>
                              <p>Aplikasi kasir software program kasir gratis free download untuk ukm indonesia, sangat lengkap dan di build menggunakan databased accses semakin memudahkan UKM untuk bekerja mencatat pembukuan nya, gunakan aplikasi kasir gratis ini untuk menunjang kebutuhan mu , fitur lengkap master based user , supplier , produk dengan barcode, pembelian , penjulan point of sale kasir, laporan laporan detail inventori dan omset profit semakin memanjakan pekerjaan UKM indonesia. Aplikasi kasir ini gratis untuk menambahkan header nama usaha toko kamu maka silahkan donasi sukarela agar tampilan print out print invoice semakin elegan.</p>
                              <a class="btn btn-rounded-pill btn-block btn-lg btn-info text-white" href="https://sourceforge.net/projects/hc-access-simplepos/" target="blank">Download Now</a>
                            </div>
  
                              
      </div>    </div>