<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart p-3 md-5">
        <h1><strong><a href="/" title="MESIN KASIR">MESIN KASIR</a></strong></h1>
        <h2>Aplikasi kasir dan mesin kasir offline maupun online untuk kebutuhan usaha mu.</h2>
        <div class="embed-responsive embed-responsive-21by9">
          <iframe title="mesin kasir,aplikasi kasir" width="560" height="315" src="https://www.youtube.com/embed/yZwK_GHvjCg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>Saat nya upgrade bisnis mu dengan pembukuan yang lebih modern untuk masa depan lebih baik.</p>
        <p>All aplikasi kasir , aplikasi toko, aplikasi restoran sudah support dengan offline mode sekali beli untuk selama nya maupun upgrade ke online mode untuk kebutuhan akses via smartphone android iphone hingga mesin kasir windows dan berbagai os lain nya, dengan dukungan <a href="https://www.apachefriends.org/" target="blank" class="text-white">XAMPP</a> sebagai local web server untuk desktop bahasa pemrograman menggunakan <a href="https://www.java.com/" target="blank" class="text-white">JAVA</a> superior dalam bekerja dan <a href="https://www.php.net/" target="blank" class="text-white">PHP</a> memudahkan dalam kebutuhan online mode databased <a href="https://www.mysql.com/" target="blank" class="text-white">mysql</a> yang powerfull dan stabil untuk kebutuhan pembukuan mu.</p>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart p-3 md-5">
        <img alt="mesin kasir" class="img-fluid card" src="assets/img/RETAIL.jpg" />
<h3><a href="/" title="MESIN KASIR RETAIL">Retail Shop</a></h3>
<p>Aplikasi dan mesin kasir untuk khusus retail shop store minimarket supermarket apotik butik toko baju fashion shop, baby shop,barber shop, hoby, toko maianan anak,pet shop dan usaha lain.</p>
<a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" [routerLink]="['/retail']">More info</a>
</div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart p-3 md-5">
        <img alt="mesin kasir" class="img-fluid card" src="assets/img/RESTO.jpg" />
<h3><a href="/" title="MESIN KASIR RESTORAN">Resto Cafe</a></h3>
<p>Aplikasi dan mesin kasir special kuliner restoran cafe rumah makan fastfood street food warung angkringan coffee shop dan berbagai usaha kuliner serta drink shop toko oleh oleh lain nya.</p>
<a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" [routerLink]="['/resto']">More info</a>
</div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart p-3 md-5">
        <img alt="mesin kasir" class="img-fluid card" src="assets/img/OFFICE.jpg" />
<h3><a href="/" title="PAKET OFFICE INVOICE">Office Bisnis</a></h3>
<p>Khusus untuk office dan bisnis dengan kebutuhan inventori faktur penjualan hingga faktur pajak penjualan dan accounting plus pencatatan tender project mode dalam digunakan menunjang bisnis usaha mu.</p>
<a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" [routerLink]="['/office']">More info</a>
</div>
    </div>
    <div class=" col-12">
      <div class=" card card-chart p-3 md-5">
        <h3><a href="/" title="MESIN KASIR ONLINE">ONLINE CLOUDS BLAST</a></h3>
         <div class="embed-responsive embed-responsive-16by9">
          <iframe title="mesin kasir online" width="560" height="315" src="https://www.youtube.com/embed/OmC_2bswSmA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>kami menggunakan technology terbaru untuk mesin kasir dan aplikasi kasir mu, baik via offline mode sekali beli untuk selama nya maupun untuk kebutuhan akan online mode dengan mbile pos technology multi akses via smartphone android iphone dan windows mu secara real time online, kini saat nya dalam genggaman mu.</p>
        <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" [routerLink]="['/online']">Online Now</a>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart p-3 md-5">
        <img alt="mesin kasir" class="img-fluid card" src="assets/img/mesinkasirmurah (1).jpg" />
<h3><a href="/" title="TABLET POS">Hybrid</a></h3>
<p>Mesin kasir simple dan portable mode by hewllet packard bisa digunakan tanpa menggunakan aliran listrik dengan dukungan printer kasir bluetooth maupun wifi memudahkan dalam setiap transaksi kasir dengan cepat hingga pencatatan pembukuan usaha.</p>
</div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart p-3 md-5">
        <img alt="mesin kasir" class="img-fluid card" src="assets/img/portable.jpg" />
<h3><a href="/" title="MESIN KASIR PORTABLE">Portable</a></h3>
<p>New modern mesin kasir portable dengan simple dan fashionable modern desain untuk digunakan dalam menunjang berbagai usaha , dengan kompleks include dengan printer kasir mini memudahkan dalam pekerjaan kasir dan pembukuan.</p>
</div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart p-3 md-5">
        <img alt="mesin kasir" class="img-fluid card" src="assets/img/mesin kasir touchscreen (8).jpg" />
<h3><a href="/" title="MESIN KASIR TOUCHSCREEN">Touchscreen</a></h3>
<p>Special persembahan dari ASUS technology dengan slim desain sangat cantik dan menarik dengan multi port memudahkan dalam setiap integrasi dengan peralatan kasir memudahkan dalam kebutuhan mesin kasir lengkap mu.</p>
</div>
    </div>
    <div class=" col-12">
      <div class=" card card-chart p-3 md-5">
        <h3><a href="/" title="MESIN KASIR SET LENGKAP">POS HARDWARE</a></h3>
         <div class="embed-responsive embed-responsive-16by9">
          <iframe title="mesin kasir all in one touchscreen pos" width="560" height="315" src="https://www.youtube.com/embed/NLxDbnyQ4r4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>All in one mesin kasir tersedia dalam kebutuhan bertransaski sekaligus pembukuan include dengan injeksi aplikasi kasir,aplikasi toko,aplikasi restoran dan aplikasi bisnis office yang lengkap dalam menunjang pembukuan dan transaksi dengan cepat, saat nya pilih mesin kasir kompleks mu disini.</p>
        <a class="btn btn-rounded-pill btn-block btn-lg btn-danger text-white" [routerLink]="['/hardware']">Pilih Mesin Kasir</a>
      </div>
    </div>
  </div>
</div>
